<div style="text-align:center">
  <script>
    var global = window; // fix global is undefined in socketjs-client
  </script>
  <h1>
    Welcome to {{title}}!
  </h1>

  <div style="text-align: center;">
    ServerAddress
    <input id="address-input" type="text" value={{serverUrl}} #serverAddress>
  </div>

  <div style="text-align: center;">
    ChannelAddress
    <input id="channel-input" type="text" value="/chat/5"#channelAddress>
    <br>
    <button (click)="initializeWebSocketConnection(serverAddress.value, channelAddress.value)">Connect & Subscribe</button>
  </div>

  <div class="chat-container">
    <div class="chat">
      <div class="message"></div>
    </div>
  </div>

</div>

<div class="footer">
  <div class="send-button">
    MessageAddress
    <input id="msg-address-input" type="text" value="/app/send/message/5" #messageAddress>
    <br>
    Message
    <input id="input" type="text" value={{defaultUser}} #input>
    <div class="send" (click)="sendMessage(input.value, messageAddress.value)"></div>
  </div>

</div>
